.table {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 20px;
  border: 1px solid gray;
}

.table__data {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  border-bottom: 1px solid gray;
}

.table__data > div {
  flex: 1;
  text-align: center;
}
